[Desktop Entry]
Version=1.0
Name=DaunBiru Installer
Comment="www.daunbiru.com"
Exec=/home/zenaki/DaunBiru-Installer/install.sh
Icon=/home/zenaki/DaunBiru-Installer/install.png
Terminal=true
Type=Application
